.sprite-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .sprite-container svg,
.sprite-container ::ng-deep svg {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
}

